        @import "./sortable-dark.css";

        * {
            font-family: sans-serif;
            scrollbar-color: dark;
        }

        body {
            background-color: #323232;
        }

        h1 {
            color: rgba(255,255,255,0.87);
        }

        .navbar {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            list-style-type: none;
            margin: 0 auto;
            padding: 0px 0px 0px 0px;
            overflow: hidden;
            background-color: #252525;
            box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.3);
            z-index: 5;
            user-select: none;
        }

        .navbar-title {
            float: left;
        }

        .navbar-title p {
            float: left;
            display: block;
            color: #C8C8C8;
            text-align: center;
            padding: 14px 16px;
            font-size: 24px;
            margin: 0 auto;

            height: 34px;
            line-height: 34px;
        }

        .navbar-item {
            float: right;
        }

        #optionsIcon {
            width: 16px;
            height: 28px;
            padding: 0;
            margin: 0 auto;
            top: 0;
        }

        .navbar-item button {
            float: right;
            display: block;
            color: #373737;
            text-align: center;
            padding: 17px 23px 17px 23px;
            font-size: 24px;
            background-color: Transparent;
            background-repeat: no-repeat;
            border: none;
            cursor: pointer;
            overflow: hidden;
            outline: none;
            width: 62px;
            height: 62px;
        }

        .navbar-item button:hover {
            background-color: #363636;
        }

        .sidenav {
            height: 100%;
            width: 300px;
            position: fixed;
            top: 56px;
            left: 0;
            background-color: #2D2D2D;
            white-space: nowrap;
            overflow: hidden;
            padding-top: 20px;
            box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.3);
            padding: 0;
            user-select: none;
        }

        #optionsPanel {
            position: absolute;
            width: 300px;
            height: fit-content;
            padding-bottom: 10px;
            top: 0px;
            text-align: left;

            background-color: #2D2D2D;
            box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.3);

            white-space: nowrap;
            overflow: hidden;

            visibility: hidden;
            opacity: 0;
            transition: opacity 0s;

            user-select: none;
        }

        #optionsPanel.open {
            visibility: visible;
            opacity: 1;
            transition: opacity 0.5s;
        }

        .sidenav p, #optionsPanel p {
            margin: 0px 0px 10px 0px;
            padding: 25px 8px 15px 16px;
            text-decoration: none;
            font-size: 25px;
            /*background-color: #2D2D2D;*/
            color: #A8A8A8;
            display: block;
            border-bottom: 1px solid #4E4E4E;
            user-select: none;
        }

        .sidenav a, #optionsPanel a, .sidenav span {
            padding: 6px 8px 6px 16px;
            text-decoration: none;
            font-size: 22px;
            color: #999999;
            display: block;
            /*text-shadow: 0px 1px 0px rgba(255,255,255,.3), 0px -1px 0px rgba(0,0,0,.7);*/
            transition: 0.1s;
        }

        .sidenav a:hover, #optionsPanel a:hover {
            background-color: #333333;
            color: #D3D3D3;
            text-indent: 10px;
        }

        @media screen and (max-height: 450px) {
            .sidenav {padding-top: 15px;}
            .sidenav a {font-size: 18px;}
            .sidenav span {font-size: 18px;}
        }

        #main {
            margin-left: 300px;
            margin-top: 56px;
            /*display: block;*/
            position: fixed;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            text-align: center;
            display: table;
        }

        #centerDiv {
            position: absolute;

            width: 35%;
	        height: fit-content;
            padding: 35px 35px 35px 35px;

            text-align: center;
            display: none; /*inline*/
            margin: auto;

            background-color: #252525;
            border-radius: 15px;
	        box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.3);

	        overflow-wrap: break-word;
        }

        #centerDiv h1 {
            margin-top: 0;
        }

        #centerDiv p {
            text-align: left;
            color: rgba(255,255,255,0.65);
        }

        #centerDiv .greenBtn {
            margin-bottom: 5px;
        }

        #centerDiv.skeleton {
            user-select: none;
        }

        #centerDiv.skeleton h1 {
            background-color: #323232;
            color: #323232;
        }

        #centerDiv.skeleton p {
            background-color: #323232;
            color: #323232;
        }

        #centerDiv.skeleton span {
            background-color: #323232;
            color: #323232;
        }

        #centerDiv.skeleton .greenBtn {
            background-color: #323232;
            color: #323232;
            text-decoration: none;
            border: none;
            box-shadow: none;
            cursor: default;
            font-size: 16px;
            transition: 0s;
        }

        #centerDiv p#examQuestion {
            color: rgba(255,255,255,0.87);

            text-align: center;
            font-weight: bold;
            font-size: 20px;
            user-select: none;

            margin-top: 0px;
            margin-bottom: 30px;
        }

        #centerDiv.skeleton p#examQuestion {
            background-color: initial;
            color: rgba(255,255,255,0.87);
        }

        .examAnswer {
            width: 95%;

            background-color: #323232;
            text-align: left;
            border: 1px solid #AAAAAA;
            border-radius: 10px;
            padding-left: 15px;
            margin-bottom: 5px;
            cursor: pointer;
            transition: 0.2s;
            position: relative;
            font-size: 14px;
            color: white;

            min-height: 40px;
            user-select: none;
        }

        .examAnswer:hover {
            background-color: #3C3C3C;
            transition: 0.2s;
        }

        .examAnswer:focus {
            outline: 0;
        }

        .examAnswer.selected {
            background-color: #6B9E73;
            border: 1px solid #46C466;
            transition: 0.2s;
        }

        .examAnswer.selected:hover {
            background-color: #74AD7D;
            transition: 0.2s;
        }

        .examAnswer span.left {
            position: absolute; top: 0; width: 20px; height: 100%; border-right: solid 1px #AAAAAA; display: inline-block; padding-right: 5px;
        }

        .examAnswer.selected span.left {
            border-right: solid 1px #5BFF84;
        }

        .examAnswer span.left span {
            line-height: 40px; height: 40px; vertical-align: middle;
        }

        .examAnswer span.right {
            margin-left: 40px; line-height: 20px; margin-bottom: 2px; vertical-align: middle; display: inline-block; position: relative; overflow: auto; top: 0;
        }

        .examAnswer span.right span {
            line-height: 1; vertical-align: middle; margin: 0; overflow: auto;
            word-break: break-word;
        }

        #centerDiv.skeleton .examAnswer {
            background-color: #323232;
            color: #323232;
            border: 1px solid #323232;
        }

        #centerDiv.skeleton .examAnswer span.left {
            color: #323232;
            border: 1px solid #323232;
        }

        #centerDiv.skeleton .examAnswer span.left span {
            color: #323232;
        }

        #nextQuestionBtn {
            margin-top: 30px;
            margin-bottom: 5px;
        }

        #mainPlaceholder {
            vertical-align: middle;
            text-align: center;
            padding-right: 300px;
            padding-bottom: 56px;
            display: table-cell;
            font-size: 50px;
            color: #323232;
            text-shadow:
                -1px -1px 1px #999999,
                 1px -1px 1px #999999,
                -1px 1px 1px #999999,
                 1px 1px 1px #999999;
            user-select: none;
        }

        .progressBar {
            width: 150px;
            height: 150px;
            position: relative;
            left: 50%;
            transform: translate(-50%, 0);
            margin: 40px 0 20px 0;
            user-select: none;
        }

        #resultInfo {
            text-align: center;
            width: 70%;
            max-width: 350px;
            background-color: #424242;
            position: relative;
            margin: auto;
            border-radius: 15px;
            padding: 15px 15px 15px 15px;
            box-shadow: inset 0 0 6px 0px rgba(0,0,0,0.3);
            margin-top: 30px;
            margin-bottom: 40px;
            color: white;
        }

        .greenBtn {
            background-color: #47B25B;
            color: /*rgba(0,0,0,0.8);*/rgba(255,255,255,0.8);
            width: 300px;
            height: 50px;
            text-decoration: none;
            border: none;
            border-radius: 24px;
            box-shadow: none;
            cursor: pointer;
            font-size: 16px;
            transition: 0.2s;
            user-select: none;
        }

        .greenBtn:hover {
            background-color: #323232;
            color: #47B25B;
            text-decoration: none;
            border-style: solid;
            border-color: #47B25B;
            /*box-shadow: 0px 0px 10px 2px;*/
            box-shadow: 0px 0px 5px 2px rgba(71,178,91,0.6);
            transition: 0.2s;
        }

        .greenBtn:focus {
            outline: 0;
        }

        .greenBtn:disabled, .greenBtn[disabled] {
            background-color: #323232;
            border-style: solid;
            border-color: #AAAAAA;
            color: #AAAAAA;
            box-shadow: none;
            cursor: default;
        }

        input {
            padding: 10px 10px 10px 15px;
            width: 221px;
            height: 26px;
            text-decoration: none;
            border: 2px solid #AAAAAA;
            border-radius: 24px;
            font-size: 16px;
            transition: 0.15s;
            background-color: #323232;
            color: white;
        }

	    input:focus {
            outline: 0;
            width: 261px;
            border: 2px solid #47B25B;
        }

        #centerDiv #error {
           position: absolute;
           left: 0;
           width: 100%;
           text-align: center;
           font-size: 14px;
           color: #CF5454;
           line-height: 0px;
           text-align: center;
        }

        #centerDiv .requirements {
           text-align: center;
           width: 100%;
           list-style-type: none;
           padding: 0;
           margin: 20px 0px 0px 0px;
        }

        #centerDiv .requirements li {
           text-align: center;
           width: 100%;
           color: #AAAAAA;
        }

        #centerDiv .requirements .fulfilled {
            color: #47B25B;
        }

        #resultsTable {
            width: 100%;
        }

        #resultsTable thead th {
            position: sticky;
            top: 0;
            background: #252525;
        }