@import "./sortable-light.css";

* {
    font-family: sans-serif;
}

body {
    background-color: #EAEAEA;
}

h1 {
    color: rgba(0,0,0,0.87);
}

.sidenav {
    height: 100%;
    width: 300px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #F7F7F7;
    white-space: nowrap;
    overflow: hidden;
    padding-top: 20px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.3);
    padding: 0;
    user-select: none;
}

.sidenav p, #optionsPanel p {
    margin: 0px 0px 10px 0px;
    padding: 25px 8px 15px 16px;
    text-decoration: none;
    font-size: 25px;
    /*background-color: #F7F7F7;*/
    color: #212121;
    display: block;
    border-bottom: 1px solid #E0E0E0;
    user-select: none;
}

.sidenav a, #optionsPanel a, .sidenav span {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 22px;
    color: #999999;
    display: block;
    /*text-shadow: 0px 1px 0px rgba(255,255,255,.3), 0px -1px 0px rgba(0,0,0,.7);*/
    transition: 0.1s;
}

.sidenav a:hover, #optionsPanel a:hover {
    background-color: #F1F1F1;
    color: #212121;
    text-indent: 10px;
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
    .sidenav span {font-size: 18px;}
}

#main {
    margin-left: 300px;
    margin-top: 0px;
    /*display: block;*/
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    text-align: center;
    display: table;
}

#centerDiv {
    position: absolute;

    min-width: 640px;
    width: 35%;
    height: fit-content;
    padding: 35px 35px 35px 35px;

    text-align: center;
    display: none; /*inline*/
    margin: auto;

    background-color: white;
    border-radius: 15px;
    box-shadow: 0px 0px 10px 0 rgba(0,0,0,0.3);

    overflow-wrap: break-word;
}

#centerDiv h1 {
    margin-top: 0;
}

#centerDiv p {
    text-align: left;
    color: rgba(0,0,0,0.65);
}

#centerDiv .greenBtn {
    margin-bottom: 5px;
}

#centerDiv.skeleton {
    user-select: none;
}

#centerDiv.skeleton h1 {
    background-color: #F1F1F1;
    color: #F1F1F1;
}

#centerDiv.skeleton p {
    background-color: #F1F1F1;
    color: #F1F1F1;
}

#centerDiv.skeleton span {
    background-color: #F1F1F1;
    color: #F1F1F1;
}

#centerDiv.skeleton .greenBtn {
    background-color: #F1F1F1;
    color: #F1F1F1;
    text-decoration: none;
    border: none;
    box-shadow: none;
    cursor: default;
    font-size: 16px;
    transition: 0s;
}

table {
    width: 100%;
}

table thead th {
    position: sticky;
    top: 0;
    background: #F2F2F2;
}

.greenBtn {
    background-color: #4DDD78;
    color: white;
    width: 300px;
    height: 50px;
    text-decoration: none;
    border: none;
    border-radius: 24px;
    box-shadow: none;
    cursor: pointer;
    font-size: 16px;
    transition: 0.2s;
    user-select: none;
}

.greenBtn:hover {
    background-color: white;
    color: #4DDD78;
    text-decoration: none;
    border-style: solid;
    border-color: #4DDD78;
    /*box-shadow: 0px 0px 10px 2px;*/
    box-shadow: 0px 0px 5px 2px rgba(77,221,120,0.6);
    transition: 0.2s;
}

.greenBtn:focus {
    outline: 0;
}

.greenBtn:disabled, .greenBtn[disabled] {
    background-color: white;
    border-style: solid;
    border-color: #AAAAAA;
    color: #AAAAAA;
    box-shadow: none;
    cursor: default;
}

.rightAlign {
    float: right;
    margin-top: 20px;
}

.scrollingForm {
    max-height: 400px;
    overflow: auto;
}

.field {
    float: left;
    width: 100%;
    line-height: 30px;
    margin: 3px 0px 3px 0px;
    border: 1px solid #AAAAAA;
    border-radius: 5px;
    padding-left: 5px;
    box-sizing: border-box;
    font-size: 14px;
}

.field.correct {
    background-color: #F1FFF1;
}

input[type=datetime-local] {
    width: calc(50% - 1px);
    line-height: 30px;
    margin: 3px 0px 3px 0px;
    border: 1px solid #AAAAAA;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 14px;
}

input[type=datetime-local].left {
    float: left;
    margin-right: 1px;
}

input[type=datetime-local].right {
    float: right;
    margin-left: 1px;
}

.question {
    width: 100%;
    height: 262px;
    border: 1px solid #AAAAAA;
    border-radius: 5px;
    padding: 10px 10px 10px 10px;
    margin: 10px 0px 3px 0px;
    box-sizing: border-box;
}

.question p {
    margin: 5px 0px 10px 0px;
    color: black;
}

.question input[name="question"] {
    margin-bottom: 10px;
}